{% extends 'base.html' %}

{% block content %}

<div class="heading">
    <h1>Lewis' Library</h1>
</div>

<div class="links">
    <a href="/view-all">View All Books</a>
    <a href="/add-book">Add Book</a>
    <a href="/delete">Delete a Book</a><br><br>

</div>
<article>
    <div class="content">
        <h2>Welcome to my library!</h2>
        <p>Here you can browse through all 2 of our current books.</p>
        <p>You also have the ability to add new books, remove books and check books in and out.</p>
        <p>Please note that if there are any bugs or issues within this website, they are
            entirely on your side and you can trust that all of the code behind this
            site is <b>100% solid</b>!</p>
    </div>
</article>

{% endblock %}